jmespath~=1.0.0
pip~=23.0.1
google~=3.0.0
cryptography~=42.0.5
py~=1.11.0
lxml~=5.1.0
tornado~=6.2
setuptools~=58.1.0
beautifulsoup4~=4.11.1
cssselect~=1.2.0
attrs~=21.4.0
w3lib~=2.1.2
parsel~=1.9.0
packaging~=21.3
pyasn1~=0.5.1
twisted~=24.3.0
Scrapy~=2.11.1
itemadapter~=0.8.0
PyDispatcher~=2.0.7
itemloaders~=1.1.0
boto3~=1.24.7
queuelib~=1.6.2
tldextract~=5.1.1
Automat~=22.10.0
certifi~=2022.5.18.1
cffi~=1.15.1
incremental~=22.10.0
constantly~=23.10.4
bcrypt~=3.2.2
hyperlink~=21.0.0
urllib3~=1.26.9
pytest~=7.1.1
idna~=3.3
pycparser~=2.21
requests~=2.28.0
filelock~=3.13.1
click~=8.1.3